a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: silver;
}

.greeting {
    padding: 20px;
    text-align: center;
}

.mess-link {
    text-align: center;
}

.logout-form {
    margin: 10px;
    text-align: center;
}

.logout-btn {
    width: 100px;
    height: 30px;
    background-color: #6A5ACD;
    color: white;
    border: 1px solid white;
    border-radius: 100px;
}

.logout-btn:hover {
    background-color: #978fc9;
}
